<%- include("./header") %>
<div class="content">
    <div class="jumbotron">
        <h1 class="vivify popInRight">SFN</h1>
        <p class="desc vivify fadeIn">
            <%= i18n("An elegant web service framework for NodeJS.") %>
        </p>
    </div>
    <div class="command vivify flipInX">
        <pre>npm install sfn --save</pre>
    </div>
    <div class="pre-requisit">
        <div class="vivify rollInRight">
            <a href="http://nodejs.org/">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="20">
                    <linearGradient id="b" x2="0" y2="100%">
                        <stop offset="0" stop-color="#bbb" stop-opacity=".1" />
                        <stop offset="1" stop-opacity=".1" />
                    </linearGradient>
                    <clipPath id="a">
                        <rect width="80" height="20" rx="3" fill="#fff" />
                    </clipPath>
                    <g clip-path="url(#a)">
                        <path fill="#555" d="M0 0h35v20H0z" />
                        <path fill="#007ec6" d="M35 0h45v20H35z" />
                        <path fill="url(#b)" d="M0 0h80v20H0z" />
                    </g>
                    <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
                        <text x="17.5" y="15" fill="#010101" fill-opacity=".3">node</text>
                        <text x="17.5" y="14">node</text>
                        <text x="56.5" y="15" fill="#010101" fill-opacity=".3">v8.0+</text>
                        <text x="56.5" y="14">v8.0+</text>
                    </g>
                </svg>
            </a>
            <a href="http://spdx.org/licenses/MIT.html">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="20">
                    <linearGradient id="b" x2="0" y2="100%">
                        <stop offset="0" stop-color="#bbb" stop-opacity=".1" />
                        <stop offset="1" stop-opacity=".1" />
                    </linearGradient>
                    <clipPath id="a">
                        <rect width="100" height="20" rx="3" fill="#fff" />
                    </clipPath>
                    <g clip-path="url(#a)">
                        <path fill="#555" d="M0 0h50v20H0z" />
                        <path fill="#007ec6" d="M50 0h45v20H50z" />
                        <path fill="url(#b)" d="M0 0h80v20H0z" />
                    </g>
                    <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
                        <text x="24.5" y="15" fill="#010101" fill-opacity=".3">license</text>
                        <text x="24.5" y="14">license</text>
                        <text x="64.5" y="15" fill="#010101" fill-opacity=".3">MIT</text>
                        <text x="64.5" y="14">MIT</text>
                    </g>
                </svg>
            </a>
            <a href="https://babeljs.io/learn-es2015/">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="20">
                    <linearGradient id="b" x2="0" y2="100%">
                        <stop offset="0" stop-color="#bbb" stop-opacity=".1" />
                        <stop offset="1" stop-opacity=".1" />
                    </linearGradient>
                    <clipPath id="a">
                        <rect width="80" height="20" rx="3" fill="#fff" />
                    </clipPath>
                    <g clip-path="url(#a)">
                        <path fill="#555" d="M0 0h35v20H0z" />
                        <path fill="#007ec6" d="M35 0h45v20H35z" />
                        <path fill="url(#b)" d="M0 0h80v20H0z" />
                    </g>
                    <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11">
                        <text x="17.5" y="15" fill="#010101" fill-opacity=".3">ES</text>
                        <text x="17.5" y="14">ES</text>
                        <text x="56.5" y="15" fill="#010101" fill-opacity=".3">2017+</text>
                        <text x="56.5" y="14">2017+</text>
                    </g>
                </svg>
            </a>
        </div>
    </div>
    <div class="box">
        <div class="vivify popInBottom">
            <h2><%= i18n("Easy to Use") %></h2>
            <p><%- i18n("Usage Description") %></p>
        </div>
        <div class="vivify popInBottom">
            <h2><%= i18n("Coding Elegantly") %></h2>
            <p><%- i18n("Coding Description") %></p>
        </div>
        <div class="vivify popInBottom">
            <h2><%= i18n("Extremely Powerful") %></h2>
            <p><%- i18n("Power Description") %></p>
        </div>
    </div>
</div>
<%- include("./footer") %>