<%- include("./header") %>
<div class="content">
    <div class="jumbotron">
        <h1 class="vivify popInRight">SFN</h1>
        <p class="desc vivify fadeIn">
            <%= i18n("An easy and elegant web based service framework for NodeJS.") %>
        </p>
    </div>
    <div class="command vivify flipInX">
        <pre>npm i sfn</pre>
    </div>
    <div class="pre-requisit">
        <div class="vivify rollInRight">
            <a href="http://nodejs.org/" target="_black">
                <img src="https://img.shields.io/badge/NodeJS-v10.0%2B-%23026e00.svg" alt="NodeJS v10.0+">
            </a>
            <a href="https://babeljs.io/learn-es2015/" target="_black">
                <img src="https://img.shields.io/badge/ES-2018-yellow.svg" alt="ES 2018">
            </a>
            <a href="https://typescriptlang.org" target="_black"
                title="SFN always ships with the latest features, make sure your TypeScript compiler is the newest version">
                <img src="https://img.shields.io/badge/TS-TypeScript-blue.svg" alt="TypeScript">
            </a>
            <a href="https://opensource.org/licenses/MIT" target="_black">
                <img src="https://img.shields.io/badge/license-MIT-%233ba136.svg" alt="MIT License">
            </a>
        </div>
    </div>
    <div class="box">
        <div class="vivify popInBottom">
            <h2><%= i18n("Easy and Elegant") %></h2>
            <p><%- i18n("Elegant Description") %></p>
        </div>
        <div class="vivify popInBottom">
            <h2><%= i18n("Distributed Design") %></h2>
            <p><%- i18n("Distributed Description") %></p>
        </div>
        <div class="vivify popInBottom">
            <h2><%= i18n("Hot Reloading Modules") %></h2>
            <p><%- i18n("Hot Reloading Description") %></p>
        </div>
    </div>
</div>
<%- include("./footer") %>